.row
  .small-8.columns
    %h2.double-border-bottom
      These are our great farms:

    - if @farms
      = render partial: 'farms/index', collection: @farms, as: :farm, spacer_template: 'shared/hr'

  .small-4.columns.featured-review.show-left-border
    - if @review
      = render partial: 'reviews/on_farm_index_page', locals: {review: @review}

