.row
  .small-8.columns
    %h2.double-border-bottom
      These are our great farms:

    = render partial: 'farms/index', collection: @farms, as: :farm, spacer_template: 'shared/hr'

  .small-4.columns.featured-review.show-left-border
    = render partial: 'reviews/front', locals: {review: @review}

