%nav
  .row
    .small-12.medium-10.medium-centered.columns.full-width
      .left
        .logo
          = link_to 'yolk', home_path

      .right
        .sign-up
          %a.ybtn{href: sign_up_path}
            Sign Up
        .sign-in
          %a{href: sign_in_path}
            Log In

