%nav
  .row
    .small-12.medium-10.medium-centered.columns.full-width
      .left
        .logo
          yolk
        .yolk


      .right
        .sign-up
          %a.ybtn{href: '#'}
            Sign Up
        .sign-in
          %a{href: '#'}
            Log In

.row
  .small-12.medium-10.medium-centered.columns.main-container.full-width
    .row
      .small-8.columns.farm-list
        %section.create-account-box
          %h3
            Yolk is the best way to learn about your local farms
          %p
            People use Yolk to learn about the farms that produce their food, from corn to milk.
            %br
            What will you find out about the eggs you have for breakfast?

          %a.ybtn.light{href: '#'}
            Create Your Free Account

        %section.farms
          %header
            %h2 Check out these farms!

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

          %hr

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

          %hr

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

          %hr

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

          %hr

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

      .small-4.columns.review-list.show-left-border
        %aside.reviews
          %h3 Latest Reviews

          %article.review
            %p Sandra has reviewed Walter's Bauernhof
            %p Sandra: Ja, ganz ok. Viele Tiere.

          %hr

          %article.review
            %p Sandra has reviewed Walter's Bauernhof
            %p Sandra: Ja, ganz ok. Viele Tiere.

          %hr

          %article.review
            %p Sandra has reviewed Walter's Bauernhof
            %p Sandra: Ja, ganz ok. Viele Tiere.

