%nav
  .row
    .small-12.medium-10.medium-centered.columns
      .left
        .yolk
          Yolk!

      .right
        .sign-up
          %a.ybtn{href: '#'}
            Sign Up
        .sign-in
          %a{href: '#'}
            Log In

.row
  .small-12.medium-10.medium-centered.columns.farm-container
    .row
      .small-8.columns.farm-list
        %section.farms
          %header
            %h2 Check out these farms!

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

          %hr

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

          %hr

          %article.farm
            %h3
              %a
                Walter's Bauernhof
            %p
              %strong
                Berti
              says: Da war ich schonmal, hat mir gefallen. Richtig viele Tiere und alle haben Spaß. Eier gibt's aber keine.

      .small-4.columns.review-list
        %aside.reviews
          %h3 Latest Reviews

          %article.review
            %p Sandra has reviewed Walter's Bauernhof
            %p Sandra: Ja, ganz ok. Viele Tiere.

          %hr

          %article.review
            %p Sandra has reviewed Walter's Bauernhof
            %p Sandra: Ja, ganz ok. Viele Tiere.

