%nav
  .row
    .small-12.medium-10.medium-centered.columns.full-width
      .left
        .logo
          yolk

      .right.nav-button
        %a.ybtn{"aria-controls" => "drop1", "aria-expanded" => "false", "data-dropdown" => "drop1"} Hypochonder &raquo;
        %ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
          %li
            %a{:href => "#"} profile (edit)
          %li
            %a{:href => "#"} logout

      .right.nav-button
        %a.ybtn
          Add new Farm

      .right.nav-option
        %a
          Reviews

      .right.nav-option
        %a
          Farms

.row
  .small-12.medium-10.medium-centered.columns.main-container.full-width
    %header.double-border-bottom
      %h2
        Rainer Maria Carey

      %p
        yolking since 24.12.2014
      %p
        Power animal: sloth

    %h2 Rainer Maria's reviews

    %article
      %p
        %a Granny'y yard
        (1/5)
      %p
        Oh how I hated this place. Granny is not alive anymore and the four sons have started to quarrel over the land. What used to be streams of milk and honey just two years ago is basically just acres of wasteland now. I'm glad Granny doesn't have to deal with this anymore...

    %hr

    %article
      %p
        %a Granny'y yard
        (1/5)
      %p
        Oh how I hated this place. Granny is not alive anymore and the four sons have started to quarrel over the land. What used to be streams of milk and honey just two years ago is basically just acres of wasteland now. I'm glad Granny doesn't have to deal with this anymore...

    %hr

    %article
      %p
        %a Granny'y yard
        (1/5)
      %p
        Oh how I hated this place. Granny is not alive anymore and the four sons have started to quarrel over the land. What used to be streams of milk and honey just two years ago is basically just acres of wasteland now. I'm glad Granny doesn't have to deal with this anymore...


