$color-primary: #c41200
$color-secondary: #F5F5F1
$color-tertiary: #7c0000

nav
  padding: 15px 0 10px 0
  background-color: $color-primary
  box-shadow: 0px 0px 5px #000
  z-index: 2
  position: relative

  a
    color: white

  .sign-up,
  .sign-in
    text-align: center
    font-size: 14px

  .yolk
    color: $color-tertiary
    font-size: 160%

